<div class="container">






<div class="col-md-4">
  <h2>Random<span class="symbol">#</span>list</h2>





  <div class="panel panel-default">
    <div class="panel-heading">
      <center><h3 class="panel-title"><a href="/lists/<%=@rando.id%>" class="link"><%=@rando.name%></a></h3></center>
    </div>
    <div class="panel-body">






          <%if @rando.category=="Movies"%>
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->

          <ol class="carousel-indicators">
            <%@random.each_with_index do |movie, index|%>
            <li data-target="#carousel-example-generic" data-slide-to="<%=index%>" class="active"></li>
            <%end%>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://image.tmdb.org/t/p/w500/<%=@random[0].poster_path%>" alt="..."  class="carouselImage2">
              <div class="carousel-caption">
                <h3 class="latestImage"><%=@random[0].original_title%></h3>
              </div>
            </div>
            <%@random[1..-1].each do |movie|%>
            <div class="item">
              <img src="https://image.tmdb.org/t/p/w500/<%=movie.poster_path%>" alt="..."  class="carouselImage2">
              <div class="carousel-caption">
                <h3 class="latestImage"><%=movie.original_title%></h3>
              </div>
            </div>
            <%end%>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          </div>
          <%else%>
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->

          <ol class="carousel-indicators">
            <%@random.each_with_index do |movie, index|%>
            <li data-target="#carousel-example-generic" data-slide-to="<%=index%>" class="active"></li>
            <%end%>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active">
              <img src="https://image.tmdb.org/t/p/w500/<%=@random[0].profile_path%>" alt="..."  class="carouselImage">
              <div class="carousel-caption">
                <h3 class="latestImage"><%=@random[0].name%></h3>
              </div>
            </div>
            <%@random[1..-1].each do |movie|%>
            <div class="item">
              <img src="https://image.tmdb.org/t/p/w500/<%=movie.profile_path%>" alt="..."  class="carouselImage">
              <div class="carousel-caption">
                <h3 class="latestImage"><%=movie.name%></h3>
              </div>
            </div>
            <%end%>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
          </div>
          <%end%>





    </div>
  </div>








</p>


</div>



<div class="col-md-8">
  <h2>All<span class="symbol">#</span>lists</h2>

      <div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#tab1" data-toggle="tab" class="nav-link">Movies</a></li>
    <li><a href="#tab2" data-toggle="tab" class="nav-link">Actors</a></li>
    <li><a href="#tab3" data-toggle="tab" class="nav-link">Directors</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">




      <%@movies.reverse.each do |l|%>








      <p><div class="col-md-12" id="boxWrapperList">


      <span class='movieTitle'> <a href="/lists/<%=l.id%>" class="listLink"><%=l.name%></a></span><br>
    </p><span class="listCount"><%=l.movie_ids[0].count%> <%=l.category%></span>
      <i><%=l.description%></i>
      <hr padding-top="0px">
      <span class="postedBy">By: <span class="link"><%=User.find(l.user_id).email%></span></span> <span class="blogDateTime"><span class="postedBy">on </span> <%=l.created_at.strftime(
        '%a, %b %d, %Y'
        )%> <span class="postedBy">at</span> <%=l.created_at.strftime(
        '%I:%M %p'
        )%> ET</span>
    </div>







      <%end%>



    </p>





    </div>
    <div class="tab-pane" id="tab2">
      <%@actors.reverse.each do |l|%>



      <p><div class="col-md-12" id="boxWrapperList">


      <span class='movieTitle'> <a href="/lists/<%=l.id%>" class="listLink"><%=l.name%></a></span><br>
    </p><span class="listCount"><%=l.movie_ids[0].count%> <%=l.category%></span>
      <i><%=l.description%></i></p>
      <hr padding-top="0px">
      <span class="postedBy">By: <span class="link"><%=User.find(l.user_id).email%></span></span> <span class="blogDateTime"><span class="postedBy">on </span> <%=l.created_at.strftime(
        '%a, %b %d, %Y'
        )%> <span class="postedBy">at</span> <%=l.created_at.strftime(
        '%I:%M %p'
        )%> ET</span>
    </div>






      <%end%>

    </div>
    <div class="tab-pane" id="tab3">
      <%@directors.reverse.each do |l|%>



      <p><div class="col-md-12" id="boxWrapperList">


      <span class='movieTitle'> <a href="/lists/<%=l.id%>" class="listLink"><%=l.name%></a></span><br>
    </p><span class="listCount"><%=l.movie_ids[0].count%> <%=l.category%></span>
      <i><%=l.description%></i></p>
      <hr padding-top="0px">
      <span class="postedBy">By: <span class="link"><%=User.find(l.user_id).email%></span></span> <span class="blogDateTime"><span class="postedBy">on </span> <%=l.created_at.strftime(
        '%a, %b %d, %Y'
        )%> <span class="postedBy">at</span> <%=l.created_at.strftime(
        '%I:%M %p'
        )%> ET</span>
    </div>






      <%end%>

    </div>
  </div>
  </div>
</div>
</div>
