<div class="container">
  <div class="col-md-12">
    <h2>Edit<span class="symbol">#</span>blog</h2>




    <p>
      <div id="boxWrapper">

      <p><%= form_for @blog, :html => {:class => "form-horizontal"} do |f|%>
      <p><%= f.text_field :title, :placeholder=>"Title", :class =>"textTitleAreaL"%></p></br>
      <%= tinymce %>
      <%= f.text_area :content,:class => "tinymce", :rows => 26, :cols => 60 %><br>
      <%= f.submit "Create a new Blog" %></p>
      <%end%>

    </div>
  </p>
</div>
