
<div class="container">





  <div class="col-md-8">


    <h2>Getting<span class="symbol">#</span>started</h2>

    <p><div id="boxWrapper">

<span class="welcome"><span class="glyphicon glyphicon-pushpin" id="pin"></span> In order to get started...</span>
</p>
<ol>
  <li style="color: #cb00ff; font-weight: bold;"><span style="color: black; font-weight: normal;">Sign up</span></li>
  <li style="color: #cb00ff; font-weight: bold;"><span style="color: black; font-weight: normal;">Sign in</span></li>
  <li style="color: #cb00ff; font-weight: bold;"><span style="color: black; font-weight: normal;">Click "Make List" in the navbar</span></li>
  <li style="color: #cb00ff; font-weight: bold;"><span style="color: black; font-weight: normal;">Search, sort, and explore movies, actors, directors in TMDb API</span></li>
  <li style="color: #cb00ff; font-weight: bold;"><span style="color: black; font-weight: normal;"> Select "Discover" to search dynamically in a number of cool ways! (by actor, director, year, etc.)</span></li>
  <li style="color: #cb00ff; font-weight: bold;"><span style="color: black; font-weight: normal;">Add movies to your list as you search, and then save the list to share publically, or reference privately</span></li>
  <li style="color: #cb00ff; font-weight: bold;"><span style="color: black; font-weight: normal;"> You can edit saved lists and add more movies to it by clicking "edit" under the list in the "My Lists" section </span></li>
  </ol>


</div></p>

    <h2>New<span class="symbol">#</span>blogs</h2>

  <%@blogs.reverse.each do |b|%>
    <p><div id="boxWrapper">

    <span class="blogTitle"><%=b.title%><br></span>
    <span class="postedBy">Posted By: <a href="/admin/<%=b.admin_id%>" class="nav-link"><%=b.admin.email%></a></span><span class="blogDateTime">
     <span class="postedBy">on</span> <%=b.created_at.strftime(
    '%a, %b %Y'
      )%> <span class="postedBy">at</span> <%=b.created_at.strftime(
    '%I:%M %p'
    )%> ET</span>
    <hr>
    <%= b.content.html_safe %></p>
    <a href="/blogs/<%=b.id%>" class="nav-link">Comments (<%=b.comments.count%>) </a></p>

  </div></p>
  <%end%>
</div>




<div class="col-md-4">
  <h2>Recent<span class="symbol">#</span>lists</h2>
    <p><div id="boxWrapper">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="https://image.tmdb.org/t/p/w500/<%=@imagesLatest[0]%>" alt="..."  class="carouselImage">
      <div class="carousel-caption">
        <h3 class="latestImage"><a href="/lists/<%=@lists[0].id%>" class="nav-link4"><%=@lists[0].name%></a></h3>
        <p><span class="latestImage"><%=@lists[0].description.truncate(20)%></span></p>
      </div>
    </div>
    <div class="item">
      <img src="https://image.tmdb.org/t/p/w500/<%=@imagesLatest[1]%>" alt="..."  class="carouselImage">
      <div class="carousel-caption">
        <h3 class="latestImage"><a href="/lists/<%=@lists[1].id%>" class="nav-link4"><%=@lists[1].name%></a></h3>
        <p><span class="latestImage"><%=@lists[1].description.truncate(20)%></span></p>
      </div>
    </div>
    <div class="item">
      <img src="https://image.tmdb.org/t/p/w500/<%=@imagesLatest[2]%>" alt="..."  class="carouselImage">
      <div class="carousel-caption">
        <h3 class="latestImage"><a href="/lists/<%=@lists[2].id%>" class="nav-link4"><%=@lists[2].name%></a></h3>
        <p><span class="latestImage"><%=@lists[2].description.truncate(20)%></span></p>
      </div>
    </div>
    <div class="item">
      <img src="https://image.tmdb.org/t/p/w500/<%=@imagesLatest[3]%>" alt="..." class="carouselImage">
      <div class="carousel-caption">
        <h3 class="latestImage"><a href="/lists/<%=@lists[3].id%>" class="nav-link4"><%=@lists[3].name%></a></h3>
        <p><span class="latestImage"><%=@lists[3].description.truncate(20)%></span></p>
      </div>
    </div>
    <div class="item">
      <img src="https://image.tmdb.org/t/p/w500/<%=@imagesLatest[4]%>" alt="..." class="carouselImage">
      <div class="carousel-caption">
        <h3 class="latestImage"><a href="/lists/<%=@lists[4].id%>" class="nav-link4"><%=@lists[4].name%></a></h3>
        <p><span class="latestImage"><%=@lists[4].description.truncate(20)%></span></p>
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

</div>
</p>
  <p>    <h2 >Popular<span class="symbol">#</span>lists</h2></p>
    <div id="boxWrapper">

      <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
        <li data-target="#carousel-example-generic2" data-slide-to="3"></li>
        <li data-target="#carousel-example-generic2" data-slide-to="4"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img src="https://image.tmdb.org/t/p/w500/<%=@imagesPopular[0]%>" alt="..."  class="carouselImage">
          <div class="carousel-caption">
            <h3 class="latestImage"><a href="/lists/<%=@popular[0].id%>" class="nav-link4"><%=@popular[0].name%></a></h3>
            <p><span class="latestImage"><%=@popular[0].description.truncate(20)%></span></p>
          </div>
        </div>
        <div class="item">
          <img src="https://image.tmdb.org/t/p/w500/<%=@imagesPopular[1]%>" alt="..."  class="carouselImage">
          <div class="carousel-caption">
            <h3 class="latestImage"><a href="/lists/<%=@popular[1].id%>" class="nav-link4"><%=@popular[1].name%></a></h3>
            <p><span class="latestImage"><%=@popular[1].description.truncate(20)%></span></p>
          </div>
        </div>
        <div class="item">
          <img src="https://image.tmdb.org/t/p/w500/<%=@imagesPopular[2]%>" alt="..."  class="carouselImage">
          <div class="carousel-caption">
            <h3 class="latestImage"><a href="/lists/<%=@popular[2].id%>" class="nav-link4"><%=@popular[2].name%></a></h3>
            <p><span class="latestImage"><%=@popular[2].description.truncate(20)%></span></p>
          </div>
        </div>
        <div class="item">
          <img src="https://image.tmdb.org/t/p/w500/<%=@imagesPopular[3]%>" alt="..."  class="carouselImage">
          <div class="carousel-caption">
            <h3 class="latestImage"><a href="/lists/<%=@popular[3].id%>" class="nav-link4"><%=@popular[3].name%></a></h3>
            <p><span class="latestImage"><%=@popular[3].description.truncate(20)%></span></p>
          </div>
        </div>
        <div class="item">
          <img src="https://image.tmdb.org/t/p/w500/<%=@imagesPopular[4]%>" alt="..."  class="carouselImage">
          <div class="carousel-caption">
            <h3 class="latestImage"><a href="/lists/<%=@popular[4].id%>" class="nav-link4"><%=@popular[4].name%></a></h3>
            <p><span class="latestImage"><%=@popular[4].description.truncate(20)%></span></p>
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic2" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic2" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
</div>
</p>
  <p>
    <h2 >Social<span class="symbol">#</span>media</h2></p>
    <div id="boxWrapper">
    <p><a class="twitter-timeline" data-width="700" data-height="600" href="https://twitter.com/gawthegovernor/lists/james?ref_src=twsrc%5Etfw">A Twitter List by gawthegovernor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
</div>
</p>
</div>
