
<div class="container">
  <div class="col-md-8">
    <h2>New<span class="symbol">#</span>blogs</h2>

  <%@blogs.reverse.each do |b|%>
    <p><div id="boxWrapper">

    <span class="blogTitle"><%=b.title%><br></span>
    <span class="postedBy">Posted By: <a href="/admin/<%=b.admin_id%>" class="nav-link"><%=b.admin.email%></a></span><span class="blogDateTime">
     <span class="postedBy">on</span> <%=b.created_at.strftime(
'%a, %b %Y'
  )%> <span class="postedBy">at</span> <%=b.created_at.strftime(
'%I:%M %p'
)%> ET</span>
<p> <%= b.content.html_safe %></p>
<a href="/blogs/<%=b.id%>" class="nav-link">Comments (<%=b.comments.count%>) </a></p>

</div></p>
<%end%>
</div>




<div class="col-md-4">
  <h2>Recent<span class="symbol">#</span>lists</h2>
    <p><div id="boxWrapper">

  <%@lists.last(5).each_with_index do |u, index|%>
  <p><b><span class="popularList"><%=index+1%>:<b></span> <b><a href="/admins/<%=u.id%>/" class="nav-link2"><%=u.name%></a></b>
  <%end%>
</div>
</p>
  <p>    <h2 >Popular<span class="symbol">#</span>lists</h2></p>
    <div id="boxWrapper">
      <%@popular.each_with_index do |x, index|%>
       <%break if index == 5%>

      <b><span class="popularList"><%=index +1%>:</span></b> <b><a href="/lists/<%=x.id%>/" class="nav-link2"><%=x.name%></a></b></p>


      <%end%>
</div>
</p>
  <p>
    <h2 >Social<span class="symbol">#</span>media</h2></p>
    <div id="boxWrapper">
    <p><a class="twitter-timeline" data-width="700" data-height="600" href="https://twitter.com/gawthegovernor/lists/james?ref_src=twsrc%5Etfw">A Twitter List by gawthegovernor</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></p>
</div>
</p>
</div>
