<div class="createWrapper">
    <div class="createLeft">
<h1>Create<span class="symbol">#</span>blog</h1>


<!-- <h3 class="otherHeader">Create a new blog: </h3> -->


<p><%= form_for @blog do |f| %>
<p><%= f.text_field :title, :placeholder=>"Title", :class=>"textTitleArea" %></p>
<div class="textBodyArea">
<%= tinymce %>
<%= f.text_area :content,:class => "tinymce", :rows => 26, :cols => 60 %><br>
<%= f.submit "Create a new Blog" %></p>

</div><br>

<% end  %>
</div>
  <div class="createRight">
    <h1>Upload<span class="symbol">#</span>image</h1>
      <p><%= render 'form', picture: @picture %></p>

      <h1>Image<span class="symbol">#</span>urls</h1>
      <p>
      <%@pictures.each_with_index do |f, index| %>
      <strong><%=index +1%>: <%=f.name%></strong><br>
      <%=f.image%><p>
      <%end%>
      <a href="/pictures" class="link">See all pictures</a>

  </div>
</div>
