<div class="container">
  <div class="col-md-8">


    <h2 >Blog<span class="symbol">#</span>post</h2>

      <p><div id="boxWrapper">



      <span class="blogTitle"><%=@blog.title%></span><br>
      <span class="postedBy">Posted By: <a href="/users/<%=@blog.admin_id%>/" class="nav-link"><%=User.find(@blog.admin_id).email%></a></span>
     <span class="postedBy">on</span> <%=@blog.created_at.strftime(
'%a, %b %Y'
  )%> <span class="postedBy">at</span> <%=@blog.created_at.strftime(
'%I:%M %p'
)%> ET</span>
<p> <%= @blog.content.html_safe %></p>
<a href="/blogs/<%=@blog.id%>" class="nav-link">Comments (<%=@blog.comments.count%>) </a></p>

</div></p>
<h2 >User<span class="symbol">#</span>comments</h2>

<%@blogs.comments.reverse.each do |c|%>


    <p><div id="boxWrapper">
    <span class="blogTitle"><%=c.title%></span><br>
    <span class="postedBy">Posted By: <a href="/users/<%=c.user.id%>/" class="link"><%=c.user.email%></a></span>
    <span class="blogDateTime">
     <span class="postedBy">on</span> <%=c.created_at.strftime(
    '%a, %b %Y'
    )%> <span class="postedBy">at</span> <%=c.created_at.strftime(
    '%I:%M %p'
    )%></span></p>

      <p><%=c.content%></p>
      <%if current_user%>
      <%if current_user.id == c.user_id%>
      <a href="/comments/<%=c.id%>/edit" class="link">Edit</a> |  <%= link_to 'Delete', { controller: :comments, action: :destroy, id: c.id },
       method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
      <% end  %>
      <% end  %>
      </p>

</div></p>
</div><%end%>



<div class="col-md-4">
  <p>
    <h2 >Comment<span class="symbol">#</span>form</h2>

    <div id="boxWrapper">

  <%if current_user%>
  <%= form_for @comment do |f|%>
  <%= f.text_area :title, :placeholder=>"Title", :class=>"textTitleAreaC" %><br>
  <%= f.text_area :content, :placeholder=>"Content", :class=>"textBodyAreaC" %><br>
  <%= hidden_field_tag :blog_id, @blog.id %>
  <%= f.submit "Create a new Comment" %></p>
  <% end  %>
  <%end%>
</div>
</p>
</div>
