<div class="container">
  <div class="col-md-12">
    <h2 >My<span class="symbol">#</span>blogs</h2>

      <%@user.blogs.reverse.each do |b| %>
    <p><div id="boxWrapper">

      <p>
      <span class="blogTitle"><%=b.title%></span><br>
      <span class="postedBy">Posted By: <a href="/users/<%=b.admin.id%>/" class="link"><%=b.admin.email%></a></span>
      <span class="blogDateTime">
       <span class="postedBy">on</span> <%=b.created_at.strftime(
      '%a, %b %Y'
      )%> <span class="postedBy">at</span> <%=b.created_at.strftime(
      '%I:%M %p'
      )%></span>
      <p><%=b.content.html_safe%></p>




      <%if current_admin%>
      <%if current_admin.id == b.admin_id%>
       <a href="/blogs/<%=b.id%>/edit" class="link">Edit</a> | <%= link_to 'Delete', { controller: :blogs, action: :destroy, id: b.id },
        method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>



<%end%>
<%end%>
</div></p>

<%end%>

</div>
