<div class="container">


<div class="col-md-12">
<h2>My<span class="symbol">#</span>lists</h2>


      <div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a href="#tab1" data-toggle="tab" class="nav-link">Public Lists</a></li>
    <li><a href="#tab2" data-toggle="tab" class="nav-link">Private Lists</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">




      <%@public.reverse.each do |l|%>








      <p><div class="col-md-12" id="boxWrapperList">


      <span class='movieTitle'> <a href="/lists/<%=l.id%>" class="listLink"><%=l.name%></a></span>
    </p><span class="blogDateTime"><span class="postedBy">Created </span> <%=l.created_at.strftime(
      '%a, %b %Y'
      )%> <span class="postedBy">at</span> <%=l.created_at.strftime(
      '%I:%M %p'
      )%> ET</span><hr><span class="listCount"><%=l.movie_ids[0].count%> <%=l.category%></span>
      <p><b><u>Description:</b></u> <%=l.description%></p>
      <hr padding-top="0px">
      <a href="/lists/<%=l.id%>/edit" class="nav-link" onClick="window.location.reload()">Edit list or add Movies</a> | <%= link_to 'Delete?', { controller: :lists, action: :destroy, id: l.id },
      method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link" %>
    </div>






      <%end%>



    </p>





    </div>
    <div class="tab-pane" id="tab2">
      <%@private.reverse.each do |l|%>



      <p><div class="col-md-12" id="boxWrapperList">


      <span class='movieTitle'> <a href="/lists/<%=l.id%>" class="listLink"><%=l.name%></a></span>
    </p><span class="blogDateTime"><span class="postedBy">Created </span> <%=l.created_at.strftime(
      '%a, %b %Y'
      )%> <span class="postedBy">at</span> <%=l.created_at.strftime(
      '%I:%M %p'
      )%> ET</span><hr><span class="listCount"><%=l.movie_ids[0].count%> <%=l.category%></span>
      <p><b><u>Description:</b></u> <%=l.description%></p>
      <hr padding-top="0px">
      <a href="/lists/<%=l.id%>/edit" class="nav-link" onClick="window.location.reload()">Edit list or add Movies</a> | <%= link_to 'Delete?', { controller: :lists, action: :destroy, id: l.id },
      method: :delete, data: { confirm: 'Are you sure?' }, class: "nav-link" %>
    </div>






      <%end%>

    </div>
  </div>
</div>
</div>
</div>
