<div class="userWrapper">
  <div class="userLeft">

<h1>Public<span class="symbol">#</span>lists</h1>

<%@public.each do |l|%>

<p><div class="boxWrapper">

  <div class="userListWrapper">
<span class='movieTitle'> <a href="/lists/<%=l.id%>" class="listLink"><%=l.name%></a></span><br>
<span class="blogDateTime"><span class="postedBy">Created </span> <%=l.created_at.strftime(
'%a, %b %Y'
)%> <span class="postedBy">at</span> <%=l.created_at.strftime(
'%I:%M %p'
)%> ET</span>
<span class="listCount"><%=l.movie_ids[0].count%> movies</span></div>
<p><%=l.description%></p>  <%= link_to 'Delete?', { controller: :lists, action: :destroy, id: l.id },
  method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
</div>




<%end%>
</div>

<div class="userRight">
  <h1>Private<span class="symbol">#</span>lists</h1>

  <%@private.each do |l|%>



  <p><div class="boxWrapper">

    <div class="userListWrapper">
  <span class='movieTitle'> <a href="/lists/<%=l.id%>" class="listLink"><%=l.name%></a></span><br>
  <span class="blogDateTime"><span class="postedBy">Created </span> <%=l.created_at.strftime(
  '%a, %b %Y'
  )%> <span class="postedBy">at</span> <%=l.created_at.strftime(
  '%I:%M %p'
  )%> ET</span>
  <span class="listCount"><%=l.movie_ids[0].count%> movies</span></div>
  <p><%=l.description%></p>
  <%= link_to 'Delete?', { controller: :lists, action: :destroy, id: l.id },
  method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>
  </div>






  <%end%>


</div></p>
</div>
<script>
</script>
