<h1>User<span class="symbol">#</span>posts</h1>

<%@user.blogs.reverse.each do |b| %>
<p>
<span class="blogTitle"><%=b.title%></span><br>
<span class="postedBy">Posted By: <a href="/users/<%=b.user.id%>/" class="link"><%=b.user.email%></a></span>
<span class="blogDateTime">
 <span class="postedBy">on</span> <%=b.created_at.strftime(
'%a, %b %Y'
)%> <span class="postedBy">at</span> <%=b.created_at.strftime(
'%I:%M %p'
)%></span>
<p><%=b.content.html_safe%></p>




<%if current_user%>
<%if current_user.id == b.user_id%>
 <a href="/blogs/<%=b.id%>/edit" class="link">Edit</a> | <%= link_to 'Delete', { controller: :blogs, action: :destroy, id: b.id },
  method: :delete, data: { confirm: 'Are you sure?' }, class: "link" %>


 <%end%>
 <%end%>
<hr>
<%end%>
<!-- current_user.comments.update -->
