<h1>User<span class="symbol">#</span>posts</h1>
<span class="blogTitle">
<%@user.lists.each_with_index do |l, index|%>
<%if l.private == false%>
These are true
<p><%=index +1%>: <a href="/lists/<%=l.id%>"><%=l.name%></a></p>

<%else%>

<!-- <%@user.lists.select{|x| x.private}.each_with_index do |l, index|%> -->

These are false

<p><%=index +1%>: <a href="/lists/<%=l.id%>"><%=l.name%></a></p>

<%end%>
<%end%>
<%end%>

<script>
</script>
