<div class="container">


  <div class="col-md-12">
    <h2>Log<span class="symbol">#</span>in</h2>
    <div id="boxWrapper">
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <p><div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "textTitleAreaL", style: "text-align:center" %>
  </div></p>

  <p><div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off", class: "textTitleAreaL", style: "text-align:center" %>
  </div></p>

  <p><% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%></p>
<p>
  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %></p>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
