<div class="blogWrapper">
  <div class="blogLeft">

    <h2 id="headerSearch">Search<span class="symbol">#</span>movies</h2>
    <p>
  <div class="tmdbContainer"><%=image_tag "tmdb.png", :class=> "tmdb"%> <span class="tmdbText">This product uses the TMDb API but is not endorsed or certified by TMDb.</span></div></p>


  <p><div id="searchNav">
<span class="movieTitle">Search:</span><p> <span id="option1" class="link">Movie name</span> | <span id="option2" class="link">Actor</span> | <span class="link" id="option3">Genre</span> | <span class="link" id="option4">Director</span></p>
</div>
<div id="searchNav">
<span class="movieTitle">Discover:</span><p> <span id="option5" class="link">Popular movies</span> | <span class="link" id="option6">Top rated</span> | <span class="link" id="option7">Now playing</span> | <span class="link" id="option8">Upcoming</span></p>
</div>
</p>

<div id="genreChecks">
  <span class="movieTitle">Sort movies by genre:</span><p>
  <div id="genreGrid">

<div>  <input type="checkbox" id="genreSelector0" name="feature"
        value=28 placeholder="Adventure" /> Action</div>
<div>  <input type="checkbox" id="genreSelector1" name="feature"
        value=12 placeholder="Adventure" /> Adventure</div>
<div> <input type="checkbox" id="genreSelector2" name="feature"
        value=16 /> Animation</div>
<div> <input type="checkbox" id="genreSelector3" name="feature"
        value=35 /> Comedy</div>
<div> <input type="checkbox" id="genreSelector4" name="feature"
        value=80 /> Crime</div>
<div> <input type="checkbox" id="genreSelector5" name="feature"
        value=99 /> Documentary</div>
<div> <input type="checkbox" id="genreSelector6" name="feature"
        value=18 /> Drama</div>
<div> <input type="checkbox" id="genreSelector7" name="feature"
        value=10751 /> Family</div>
<div> <input type="checkbox" id="genreSelector8" name="feature"
        value=14 /> Fantasy</div>
<div> <input type="checkbox" id="genreSelector9" name="feature"
        value=36 /> History</div>
<div> <input type="checkbox" id="genreSelector10" name="feature"
        value=27 /> Horror</div>
<div> <input type="checkbox" id="genreSelector11" name="feature"
        value=10402 /> Music</div>
<div> <input type="checkbox" id="genreSelector12" name="feature"
        value=9648 /> Mystery</div>
<div> <input type="checkbox" id="genreSelector13" name="feature"
        value=10749 /> Romance</div>
<div> <input type="checkbox" id="genreSelector14" name="feature"
        value=878 /> SciFi</div>
<div> <input type="checkbox" id="genreSelector15" name="feature"
        value=10770 /> TV Movie</div>
<div> <input type="checkbox" id="genreSelector16" name="feature"
        value=53 /> Thriller</div>
<div> <input type="checkbox" id="genreSelector17" name="feature"
        value=10752 /> War</div>
<div> <input type="checkbox" id="genreSelector18" name="feature"
        value=37 /> Western</div>
      </div>
      </p>
      </div>

      <div id="movieRatings">
        <span class="movieTitle">Sort movies by rating:</span><p>

        Greater than or equal to: <select id="ratingDrop">
          <option value='0'></option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      </p>



  <div id="showAll"> <input type="checkbox" id="show" name="feature" value="0" /> Show all?
  </div>






<div id="searchMovie">


  <%=form_tag("/searches", method: "get", :remote => "true") do%>
  Search by Movie: <%=text_field_tag(:q)%>
  <%= hidden_field_tag(:genres)%>
  <%= hidden_field_tag(:ratingQ )%>
  <%=submit_tag("Update Movie Search",:class => "form_submit1")%>
  <%end%>
  <p><h2 id="searchHeader">By<span class="symbol">#</span>name</h2>

</div>


<div id="searchActor">
  <%=form_tag("/searches", method: "get") do |f|%>
  Search by Actor: <%=text_field_tag(:r)%>
  <%=submit_tag("Update Actor Search", :class => "form_submit2")%>
  <%end%>
    <p><h2 id="searchHeader">By<span class="symbol">#</span>actor</h2>
</div>
<div id="searchDirector">

  <%=form_tag(searches_path, method: "get") do |f|%>
  Search by Director: <%=text_field_tag(:d)%>
  <%=hidden_field_tag(:genresD)%>
  <%=hidden_field_tag(:ratingD)%>
  <%=submit_tag("Update Director Search", :class => "form_submit3")%>
  <%end%>
  <p><h2 id="searchHeader">By<span class="symbol">#</span>director</h2>

</div>

<div id="searchPopular">
  <%=form_tag(searches_path, method: "get") do |f|%>
  <%=hidden_field_tag(:genresP)%>
  <%=hidden_field_tag(:ratingP)%>
  <%=submit_tag("Update Popluar Movies", :class => "form_submit4")%>
  <%end%>
  <p><h2 id="searchHeader">Popular<span class="symbol">#</span>movies</h2>
</div>


<div id="searchTop">
  <%=form_tag(searches_path, method: "get") do |f|%>
  <%=hidden_field_tag(:genresT)%>
  <%=hidden_field_tag(:ratingT)%>
  <%=submit_tag("Update Top Movies", :class => "form_submit5")%>
  <%end%>
  <p><h2 id="searchHeader">Top<span class="symbol">#</span>movies</h2>
</div>

<div id="searchLatest">
  <%=form_tag(searches_path, method: "get") do |f|%>
  <%=hidden_field_tag(:genresL)%>
  <%=hidden_field_tag(:ratingL)%>
  <%=submit_tag("Update Latest Movies", :class => "form_submit6")%>
  <p><h2 id="searchHeader">Latest<span class="symbol">#</span>movies</h2>
  <%end%>
</div>
<div id="searchUpcoming">
  <%=form_tag(searches_path, method: "get") do |f|%>
  <%=hidden_field_tag(:genresU)%>
  <%=hidden_field_tag(:ratingU)%>
  <%=submit_tag("Update Upcoming Movies", :class => "form_submit7")%>
  <%end%>
  <p><h2 id="searchHeader">Upcoming<span class="symbol">#</span>movies</h2>

</div>




<div id="genreLinks">

  <%=form_tag(searches_path, method: "get") do%>
  Select genre: <select id="genreDrop">
    <option></option>
    <option value='28'>Action</option>
    <option value='12'>Adventure</option>
    <option value="16">Animation</option>
    <option value="35">Comedy</option>
    <option value="80">Crime</option>
    <option value="99">Documentary</option>
    <option value="18">Drama</option>
    <option value="10751">Family</option>
    <option value="14">Fantasy</option>
    <option value="36">History</option>
    <option value="27">Horror</option>
    <option value="10402">Music</option>
    <option value="9648">Mystery</option>
    <option value="9648">Romance</option>
    <option value="878">Scifi</option>
    <option value="10770">TV Movie</option>
    <option value="53">Thriller</option>
    <option value="10752">War</option>
    <option value="37">Western</option>
  </select>
  <%= hidden_field_tag :l %>
  <%= hidden_field_tag :rating %>
  <%=submit_tag("Update Search", :class => "form_submit8")%>
  <p><h2 id="searchHeader">By<span class="symbol">#</span>genre</h2></p>

  <%end%>

</div>


<div id="loading">
  <center><%=image_tag "loading.gif", :class => "loadingImg"%></center>
</div>

<div id="searchMovies">

</div>

</div>

<div class="blogRight">
  <div class="listForm">
  <h2 id="headerSearch">Create<span class="symbol">#</span>list</h2>
  <p>
    <div id="listHolder">


    <%if current_user%>
    <%= form_for @list do |f|%>
    <%= f.text_area :name, :placeholder=>"Title", :class=>"textTitleAreaL" %>
    <p><div>
    Pick the type of list: <select id="typeListDrop">
      <option value='Movies'>Movies</option>
      <option value='Actors'>Actors</option>
      <option value='Directors'>Directors</option></div>
    </select>
    <p><div id="createList">
    </div></p>
    <%= f.text_area :description, :placeholder=>"Type description here", :class=>"textBodyAreaL" %></p>
    <%= f.check_box :private %>  Make Private?
    <%= hidden_field_tag :movie_ids %>
    <%= hidden_field_tag :type %>
    <!-- <%= hidden_field_tag :private %> -->
    <p><%= f.submit "Create a new List" %></p>
    <% end  %>
    <%else%>
    Please Login to create a list (link to login here)
    <%end%>

  </div>
</div>
</p>
</div>
</div>



</div>


<script>
var movieButton=document.getElementById('movieButton')
var movie=document.getElementsByClassName('movie')[0]
var movieName=[]
var movieList=[]
var genres1=[]
var genres2=[]
var genres3=[]
var genres4=[]
var genres5=[]
var genres6=[]
var genres= document.getElementById('genres')
var moviesContainer= document.getElementById('moviesContainer')
var genreDrop= document.getElementById('genreDrop')
var typeListDrop= document.getElementById('typeListDrop')
var ratingDrop= document.getElementById('ratingDrop')
var option1= document.getElementById('option1')
var option2= document.getElementById('option2')
var option3= document.getElementById('option3')
var option4= document.getElementById('option4')
var option5= document.getElementById('option5')
var option6= document.getElementById('option6')
var option7= document.getElementById('option7')
var option8= document.getElementById('option8')
var option9= document.getElementById('option9')
var searchMovie= document.getElementById('searchMovie')
var UpdateMovieSearch= document.getElementById('UpdateMovieSearch')
var createList= document.getElementById('createList')
var genreSelector=[genreSelector0, genreSelector1, genreSelector2, genreSelector3, genreSelector4, genreSelector5, genreSelector6, genreSelector7, genreSelector7, genreSelector8, genreSelector9, genreSelector10, genreSelector11, genreSelector12, genreSelector13, genreSelector14, genreSelector15, genreSelector16, genreSelector7, genreSelector17, genreSelector18]
var createListChildren=createList.children
var searchHeader=document.getElementById('searchHeader')
var movie_ids=document.getElementById('movie_ids')
// var listToggle=document.getElementById('listToggle')
var private=document.getElementById('private')
// var xhr= new XMLHttpRequest();
//
// xhr.open("GET", url, false)
//
// xhr.send(null)

$( document ).ajaxStart(function() {
    $( "#loading" ).show();
});

$( document ).ajaxStop(function() {
    $( "#loading" ).hide();
});


$(document).ready(function(){
$('.form_submit1').on('click',function(event){
$( "#searchMovies" ).empty();
var form=$(this).parent('form');
event.preventDefault()
$.ajax({
        type: "GET",
        url: "<%=searches_path%>",
        data: form.serialize(),
        dataType: "JSON",
        success: function(data){
          var test=data
          var movies=data.results
          // console.log(movies[i]);
          for(i=0;i<movies.length;i++){
            if(movies[i].table.poster_path != undefined){



          $('#searchMovies').append(
            "<div class='movie'><div class='movieHeader'><span class='movieTitle'>"
            +movies[i].table.original_title
            +"</span></div> <br><img src='https://image.tmdb.org/t/p/w500/"
            +movies[i].table.poster_path+"' id='movieImg'><span class='movieDetails'> Rating: </span><span class='movieInfo'>"
            +movies[i].table.vote_average+"</span><br><span class='movieDetails'> Release date: </span><span class='movieInfo'>"
            +movies[i].table.release_date+"</span><br><br><span class='movieDetails'> Overview: </span>"
            +movies[i].table.overview+"</br> <center><button value='"
            +movies[i].table.id+"', id='movieButton', data-value='"
            +movies[i].table.original_title+"'>+</button></center></div><p style='clear: both;'> ")

          }

        }
        console.log(data.results);
      }
    });
  })
$('.form_submit2').on('click',function(event){
$( "#searchMovies" ).empty();
var form=$(this).parent('form');
event.preventDefault()
$.ajax({
        type: "GET",
        url: "<%=searches_path%>",
        data: form.serialize(),
        dataType: "JSON",
        success: function(data){
          var test=data
          var movies=data.results
          console.log(data.results);
          // console.log(movies[i]);
          for(i=0;i<movies.length;i++){
            if(movies[i].table.known_for.length >2){
              if(movies[i].table.known_for[0].table.original_title != undefined && movies[i].table.known_for[1].table.original_title != undefined  && movies[i].table.known_for[2].table.original_title != undefined ){
                if(movies[i].table.profile_path != undefined){
          $('#searchMovies').append(
            "<div class='movie'><div class='movieHeader'><span class='movieTitle'>"
            +movies[i].table.name
            +"</span></div> <br><img src='https://image.tmdb.org/t/p/w500/"
            +movies[i].table.profile_path+"' id='movieImg'><span class='movieDetails'> Popularity: </span><span class='movieInfo'>"
            +movies[i].table.popularity+"</span><br><br><span class='movieDetails'> Known for: </span><p>1: "
            +movies[i].table.known_for[0].table.original_title+"<br>2: "
            +movies[i].table.known_for[1].table.original_title+"<br>3: "
            +movies[i].table.known_for[2].table.original_title+ "</p><center><button value='"
            +movies[i].table.id+"' id='movieButton', data-value='"
            +movies[i].table.name+"'>+</button></center></div><p style='clear: both;'> ")
          }
        }
      }
    }
          console.log(data.results);
        }
    });
  })
$('.form_submit3').on('click',function(event){
$( "#searchMovies" ).empty();
var form=$(this).parent('form');
event.preventDefault()
$.ajax({
        type: "GET",
        url: "<%=searches_path%>",
        data: form.serialize(),
        dataType: "JSON",
        success: function(data){
          var test=data
          var movies=data.results
          for(i=0;i<movies.length;i++){
            if(movies[i].table.profile_path != undefined){
              if(movies[i].table.known_for.length >2){
                if(movies[i].table.known_for[0].table.original_title != undefined && movies[i].table.known_for[1].table.original_title != undefined  && movies[i].table.known_for[2].table.original_title != undefined ){
          $('#searchMovies').append(
            "<div class='movie'><div class='movieHeader'><span class='movieTitle'>"
            +movies[i].table.name
            +"</span></div> <br><img src='https://image.tmdb.org/t/p/w500/"
            +movies[i].table.profile_path+"' id='movieImg'><span class='movieDetails'> Popularity: </span><span class='movieInfo'>"
            +movies[i].table.popularity+"</span><br><br><span class='movieDetails'> Known for: </span><p>1: "
            +movies[i].table.known_for[0].table.original_title+"<br>2: "
            +movies[i].table.known_for[1].table.original_title+"<br>3: "
            +movies[i].table.known_for[2].table.original_title+ "</p><center><button value='"
            +movies[i].table.id+"', id='movieButton', data-value='"
            +movies[i].table.name+"'>+</button></center></div><p style='clear: both;'> ")
          }
        }
      }
    }
          console.log(data.results);
        }
    });
  })
$('.form_submit4').on('click',function(event){
// for(i=1;i<8;i++){
$( "#searchMovies" ).empty();
var form=$(this).parent('form');
event.preventDefault()
$.ajax({
        type: "GET",
        url: "<%=searches_path%>",
        data: form.serialize(),
        dataType: "JSON",
        success: function(data){
          var test=data
          var movies=data.results
          // console.log(movies[i]);
          for(i=0;i<movies.length;i++){
            if(movies[i].table.poster_path != undefined){
          $('#searchMovies').append(
            "<div class='movie'><div class='movieHeader'><span class='movieTitle'>"
            +movies[i].table.original_title
            +"</span></div> <br><img src='https://image.tmdb.org/t/p/w500/"
            +movies[i].table.poster_path+"' id='movieImg'><span class='movieDetails'> Rating: </span><span class='movieInfo'>"
            +movies[i].table.vote_average+"</span><br><span class='movieDetails'> Release date: </span><span class='movieInfo'>"
            +movies[i].table.release_date+"</span><br><br><span class='movieDetails'> Overview: </span>"
            +movies[i].table.overview+"</br> <center><button value='"
            +movies[i].table.id+"' id='movieButton', data-value='"
            +movies[i].table.original_title+"'>+</button></center></div><p style='clear: both;'> ")
          }

        }
        console.log(data.results);
      }
    });
  // }
  })
$('.form_submit5').on('click',function(event){
$( "#searchMovies" ).empty();
var form=$(this).parent('form');
event.preventDefault()
$.ajax({
        type: "GET",
        url: "<%=searches_path%>",
        data: form.serialize(),
        dataType: "JSON",
        success: function(data){
          var test=data
          var movies=data.results
          // console.log(movies[i]);
          for(i=0;i<movies.length;i++){
            if(movies[i].table.poster_path != undefined){
          $('#searchMovies').append(
            "<div class='movie'><div class='movieHeader'><span class='movieTitle'>"
            +movies[i].table.original_title
            +"</span></div> <br><img src='https://image.tmdb.org/t/p/w500/"
            +movies[i].table.poster_path+"' id='movieImg'><span class='movieDetails'> Rating: </span><span class='movieInfo'>"
            +movies[i].table.vote_average+"</span><br><span class='movieDetails'> Release date: </span><span class='movieInfo'>"
            +movies[i].table.release_date+"</span><br><br><span class='movieDetails'> Overview: </span>"
            +movies[i].table.overview+"</br> <center><button value='"
            +movies[i].table.id+"' id='movieButton', data-value='"
            +movies[i].table.original_title+"'>+</button></center></div><p style='clear: both;'> ")
          }
          console.log(data.results);
        }
      }
    });
  })
$('.form_submit6').on('click',function(event){
$( "#searchMovies" ).empty();
var form=$(this).parent('form');
event.preventDefault()
$.ajax({
        type: "GET",
        url: "<%=searches_path%>",
        data: form.serialize(),
        dataType: "JSON",
        success: function(data){
          var test=data
          var movies=data.results
          // console.log(movies[i]);
          for(i=0;i<movies.length;i++){
            if(movies[i].table.poster_path != undefined){
          $('#searchMovies').append(
            "<div class='movie'><div class='movieHeader'><span class='movieTitle'>"
            +movies[i].table.original_title
            +"</span></div> <br><img src='https://image.tmdb.org/t/p/w500/"
            +movies[i].table.poster_path+"' id='movieImg'><span class='movieDetails'> Rating: </span><span class='movieInfo'>"
            +movies[i].table.vote_average+"</span><br><span class='movieDetails'> Release date: </span><span class='movieInfo'>"
            +movies[i].table.release_date+"</span><br><br><span class='movieDetails'> Overview: </span>"
            +movies[i].table.overview+"</br> <center><button value='"
            +movies[i].table.id+"' id='movieButton', data-value='"
            +movies[i].table.original_title+"'>+</button></center></div><p style='clear: both;'> ")
          }
          console.log(data.results);
        }
      }
    });
  })
$('.form_submit7').on('click',function(event){
$( "#searchMovies" ).empty();
var form=$(this).parent('form');
event.preventDefault()
$.ajax({
        type: "GET",
        url: "<%=searches_path%>",
        data: form.serialize(),
        dataType: "JSON",
        success: function(data){
          var test=data
          var movies=data.results
          // console.log(movies[i]);
          for(i=0;i<movies.length;i++){
            if(movies[i].table.poster_path != undefined){
          $('#searchMovies').append(
            "<div class='movie'><div class='movieHeader'><span class='movieTitle'>"
            +movies[i].table.original_title
            +"</span></div> <br><img src='https://image.tmdb.org/t/p/w500/"
            +movies[i].table.poster_path+"' id='movieImg'><span class='movieDetails'> Rating: </span><span class='movieInfo'>"
            +movies[i].table.vote_average+"</span><br><span class='movieDetails'> Release date: </span><span class='movieInfo'>"
            +movies[i].table.release_date+"</span><br><br><span class='movieDetails'> Overview: </span>"
            +movies[i].table.overview+"</br> <center><button value='"
            +movies[i].table.id+"' id='movieButton', data-value='"
            +movies[i].table.original_title+"'>+</button></center></div><p style='clear: both;'> ")
          }
          console.log(data.results);
        }
      }
    });
  })
$('.form_submit8').on('click',function(event){
$( "#searchMovies" ).empty();
var form=$(this).parent('form');
event.preventDefault()
$.ajax({
        type: "GET",
        url: "<%=searches_path%>",
        data: form.serialize(),
        dataType: "JSON",
        success: function(data){
          var test=data
          var movies=data.results
          // console.log(movies[i]);
          for(i=0;i<movies.length;i++){
            if(movies[i].table.poster_path != undefined){
          $('#searchMovies').append(
            "<div class='movie'><div class='movieHeader'><span class='movieTitle'>"
            +movies[i].table.original_title
            +"</span></div> <br><img src='https://image.tmdb.org/t/p/w500/"
            +movies[i].table.poster_path+"' id='movieImg'><span class='movieDetails'> Rating: </span><span class='movieInfo'>"
            +movies[i].table.vote_average+"</span><br><span class='movieDetails'> Release date: </span><span class='movieInfo'>"
            +movies[i].table.release_date+"</span><br><br><span class='movieDetails'> Overview: </span>"
            +movies[i].table.overview+"</br> <center><button value='"
            +movies[i].table.id+"' id='movieButton', data-value='"
            +movies[i].table.original_title+"'>+</button></center></div><p style='clear: both;'> ")
          }
          console.log(data.results);
        }
      }
    });
  })
})
// generates list when Add to List button is clicked... functionality for delete, moveUp on list and moveDown
function create(){
  var list=document.createElement("li")
  list.innerHTML=movieName[movieName.length-1]+"<span class='deleteMovie' value="+movieList[movieList.length-1]+"> X</span> <input class='moveElements' type='hidden' value="+movieList[movieList.length-1]+"></input>&uarr; <span id='moveElement' value="+movieList[movieList.length-1]+" type='button'>&darr;</button>"
  list.value=movieList[movieList.length-1]
  createList.appendChild(list)
  var deleteMovie=document.getElementsByClassName('deleteMovie')
  var moveUp=document.getElementsByClassName('moveUp')
  var moveDown=document.getElementsByClassName('moveDown')
// delete button functionality
  for(i=0; i<createListChildren.length; i++){
    deleteMovie[i].addEventListener('click', function(event){
      clickExit(event.path[1]);
      })
    }
      function clickExit(clicked) {
        var j= movieList.indexOf(event.path[1].value.toString())
        console.log(event.path[2].children[event.path[2].children.length-1]);
        if(j!= -1){
          movieList.splice(j,1)
        }
        clicked.remove()
        movie_ids.value=movieList
      }

          movie_ids.value=movieList
      }

function addParam(v) {
      window.location.search += '&' + v;
  }
// search by movie
option1.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  option1.style.fontWeight="bold"
  option1.style.color="#cb00ff"
  option2.style.fontWeight="normal"
  option2.style.color="#919191"
  option3.style.fontWeight="normal"
  option3.style.color="#919191"
  option4.style.fontWeight="normal"
  option4.style.color="#919191"
  option5.style.fontWeight="normal"
  option5.style.color="#919191"
  option6.style.fontWeight="normal"
  option6.style.color="#919191"
  option7.style.fontWeight="normal"
  option7.style.color="#919191"
  option8.style.fontWeight="normal"
  option8.style.color="#919191"
  searchMovie.style.display="block"
  genreChecks.style.display="block"
  movieRatings.style.display="block"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  // directorsContainer.style.display="none"
  searchDirector.style.display="none"
  searchPopular.style.display="none"
  // moviesContainer.style.display="grid"
  showAll.style.display="none"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
  genres1=[]
  genres2=[]
  genres3=[]
  genres4=[]
  genres5=[]
  genres6=[]
  genres.value=[]
  genresD.value=[]
  genresP.value=[]
  genresT.value=[]
  genresL.value=[]
  genresU.value=[]
  show.checked = false;
})
// search by actor
option2.addEventListener('click', function(){
  clearAll()
  option2.style.fontWeight="bold"
  option2.style.color="#cb00ff"
  option1.style.fontWeight="normal"
  option1.style.color="#919191"
  option3.style.fontWeight="normal"
  option3.style.color="#919191"
  option4.style.fontWeight="normal"
  option4.style.color="#919191"
  option5.style.fontWeight="normal"
  option5.style.color="#919191"
  option6.style.fontWeight="normal"
  option6.style.color="#919191"
  option7.style.fontWeight="normal"
  option7.style.color="#919191"
  option8.style.fontWeight="normal"
  option8.style.color="#919191"
  searchMovie.style.display="none"
  genreChecks.style.display="none"
  searchActor.style.display="block"
  genreLinks.style.display="none"
  movieRatings.style.display="none"
  // directorsContainer.style.display="none"
  searchDirector.style.display="none"
  searchPopular.style.display="none"
  // moviesContainer.style.display="grid"
  showAll.style.display="none"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
  genres1=[]
  genres2=[]
  genres3=[]
  genres4=[]
  genres5=[]
  genres6=[]
  genres.value=[]
  genresD.value=[]
  genresP.value=[]
  genresT.value=[]
  genresL.value=[]
  genresU.value=[]
  show.checked = false;
})
// Search by genre
option3.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  option3.style.fontWeight="bold"
  option3.style.color="#cb00ff"
  option1.style.fontWeight="normal"
  option1.style.color="#919191"
  option2.style.fontWeight="normal"
  option2.style.color="#919191"
  option4.style.fontWeight="normal"
  option4.style.color="#919191"
  option5.style.fontWeight="normal"
  option5.style.color="#919191"
  option6.style.fontWeight="normal"
  option6.style.color="#919191"
  option7.style.fontWeight="normal"
  option7.style.color="#919191"
  option8.style.fontWeight="normal"
  option8.style.color="#919191"
  searchMovie.style.display="none"
  genreChecks.style.display="none"
  searchActor.style.display="none"
  genreLinks.style.display="block"
  movieRatings.style.display="block"
  // directorsContainer.style.display="none"
  searchDirector.style.display="none"
  searchPopular.style.display="none"
  // moviesContainer.style.display="grid"
  showAll.style.display="none"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
  genres1=[]
  genres2=[]
  genres3=[]
  genres4=[]
  genres5=[]
  genres6=[]
  genres.value=[]
  genresD.value=[]
  genresP.value=[]
  genresT.value=[]
  genresL.value=[]
  genresU.value=[]
  show.checked = false;
})
// Search by Director
option4.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  option4.style.fontWeight="bold"
  option4.style.color="#cb00ff"
  option1.style.fontWeight="normal"
  option1.style.color="#919191"
  option3.style.fontWeight="normal"
  option3.style.color="#919191"
  option1.style.fontWeight="normal"
  option1.style.color="#919191"
  option5.style.fontWeight="normal"
  option5.style.color="#919191"
  option6.style.fontWeight="normal"
  option6.style.color="#919191"
  option7.style.fontWeight="normal"
  option7.style.color="#919191"
  option8.style.fontWeight="normal"
  option8.style.color="#919191"
  searchMovie.style.display="none"
  genreChecks.style.display="none"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  movieRatings.style.display="none"
  searchDirector.style.display="block"
  searchPopular.style.display="none"
  // moviesContainer.style.display="grid"
  showAll.style.display="none"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
  genres1=[]
  genres2=[]
  genres3=[]
  genres4=[]
  genres5=[]
  genres6=[]
  genres.value=[]
  genresD.value=[]
  genresP.value=[]
  genresT.value=[]
  genresL.value=[]
  genresU.value=[]
  show.checked = false;
  // directorsContainer.style.display="none"
})
// Discover popular movies
option5.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  option5.style.fontWeight="bold"
  option5.style.color="#cb00ff"
  option1.style.fontWeight="normal"
  option1.style.color="#919191"
  option3.style.fontWeight="normal"
  option3.style.color="#919191"
  option4.style.fontWeight="normal"
  option4.style.color="#919191"
  option2.style.fontWeight="normal"
  option2.style.color="#919191"
  option6.style.fontWeight="normal"
  option6.style.color="#919191"
  option7.style.fontWeight="normal"
  option7.style.color="#919191"
  option8.style.fontWeight="normal"
  option8.style.color="#919191"
  searchMovie.style.display="none"
  genreChecks.style.display="block"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  movieRatings.style.display="block"
  searchPopular.style.display="block"
  searchDirector.style.display="none"
  // moviesContainer.style.display="grid"
  showAll.style.display="block"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
  genres1=[]
  genres2=[]
  genres3=[]
  genres4=[]
  genres5=[]
  genres6=[]
  genres.value=[]
  genresD.value=[]
  genresP.value=[]
  genresT.value=[]
  genresL.value=[]
  genresU.value=[]
  show.checked = false;
  // directorsContainer.style.display="none"
})
// Discover top movies
option6.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  option6.style.fontWeight="bold"
  option6.style.color="#cb00ff"
  option2.style.fontWeight="normal"
  option2.style.color="#919191"
  option3.style.fontWeight="normal"
  option3.style.color="#919191"
  option4.style.fontWeight="normal"
  option4.style.color="#919191"
  option5.style.fontWeight="normal"
  option5.style.color="#919191"
  option1.style.fontWeight="normal"
  option1.style.color="#919191"
  option7.style.fontWeight="normal"
  option7.style.color="#919191"
  option8.style.fontWeight="normal"
  option8.style.color="#919191"
  searchMovie.style.display="none"
  genreChecks.style.display="block"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  movieRatings.style.display="block"
  searchPopular.style.display="none"
  searchDirector.style.display="none"
  // moviesContainer.style.display="grid"
  showAll.style.display="block"
  searchTop.style.display="block"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
  genres1=[]
  genres2=[]
  genres3=[]
  genres4=[]
  genres5=[]
  genres6=[]
  genres.value=[]
  genresD.value=[]
  genresP.value=[]
  genresT.value=[]
  genresL.value=[]
  genresU.value=[]
  show.checked = false;
  // directorsContainer.style.display="none"
})
// Discover latest movies
option7.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  option7.style.fontWeight="bold"
  option7.style.color="#cb00ff"
  option2.style.fontWeight="normal"
  option2.style.color="#919191"
  option3.style.fontWeight="normal"
  option3.style.color="#919191"
  option4.style.fontWeight="normal"
  option4.style.color="#919191"
  option5.style.fontWeight="normal"
  option5.style.color="#919191"
  option6.style.fontWeight="normal"
  option6.style.color="#919191"
  option1.style.fontWeight="normal"
  option1.style.color="#919191"
  option8.style.fontWeight="normal"
  option8.style.color="#919191"
  searchMovie.style.display="none"
  genreChecks.style.display="block"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  movieRatings.style.display="block"
  searchPopular.style.display="none"
  searchDirector.style.display="none"
  // moviesContainer.style.display="grid"
  showAll.style.display="block"
  searchTop.style.display="none"
  searchLatest.style.display="block"
  searchUpcoming.style.display="none"
  genres1=[]
  genres2=[]
  genres3=[]
  genres4=[]
  genres5=[]
  genres6=[]
  genres.value=[]
  genresD.value=[]
  genresP.value=[]
  genresT.value=[]
  genresL.value=[]
  genresU.value=[]
  show.checked = false;
  // directorsContainer.style.display="none"
})
// Discover upcoming movies
option8.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  option8.style.fontWeight="bold"
  option8.style.color="#cb00ff"
  option2.style.fontWeight="normal"
  option2.style.color="#919191"
  option3.style.fontWeight="normal"
  option3.style.color="#919191"
  option4.style.fontWeight="normal"
  option4.style.color="#919191"
  option5.style.fontWeight="normal"
  option5.style.color="#919191"
  option6.style.fontWeight="normal"
  option6.style.color="#919191"
  option7.style.fontWeight="normal"
  option7.style.color="#919191"
  option1.style.fontWeight="normal"
  option1.style.color="#919191"
  searchMovie.style.display="none"
  genreChecks.style.display="block"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  movieRatings.style.display="block"
  searchPopular.style.display="none"
  searchDirector.style.display="none"
  // moviesContainer.style.display="grid"
  showAll.style.display="block"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="block"
  genres1=[]
  genres2=[]
  genres3=[]
  genres4=[]
  genres5=[]
  genres6=[]
  genres.value=[]
  genresD.value=[]
  genresP.value=[]
  genresT.value=[]
  genresL.value=[]
  genresU.value=[]
  show.checked = false;
  // directorsContainer.style.display="none"
})
// drop down selector for genre and rating
genreDrop.addEventListener('input', function(){
  l.value= genreDrop.value
});
// type drop down selector for genre and rating
typeListDrop.addEventListener('input', function(){
  type.value= typeListDrop.value
});
ratingDrop.addEventListener('input', function(){
  rating.value= ratingDrop.value
  ratingQ.value= ratingDrop.value
  ratingD.value= ratingDrop.value
  ratingP.value= ratingDrop.value
  ratingT.value= ratingDrop.value
  ratingL.value= ratingDrop.value
  ratingU.value= ratingDrop.value
  show.checked = false;
});
document.addEventListener('click', function(){
  if(event.target.id=="movieButton"){
  console.log(event.target.value);
  movieList.push(event.target.value);
  movieName.push(event.target.dataset.value);
  create()
}
})
// show all discover movies
function clearAll(){
  show.checked = false;
  ratingP.value=show.value
  ratingT.value=show.value
  ratingU.value=show.value
  ratingL.value=show.value
  genres3=[]
  genres4=[]
  genres5=[]
  genres6=[]
  genres.value=[]
  genresD.value=[]
  genresP.value=[]
  genresT.value=[]
  genresL.value=[]
  genresU.value=[]
  ratingDrop.selectedIndex = 0
  genreSelector0.checked = false;
  genreSelector1.checked = false;
  genreSelector2.checked = false;
  genreSelector3.checked = false;
  genreSelector4.checked = false;
  genreSelector5.checked = false;
  genreSelector6.checked = false;
  genreSelector7.checked = false;
  genreSelector8.checked = false;
  genreSelector9.checked = false;
  genreSelector10.checked = false;
  genreSelector11.checked = false;
  genreSelector12.checked = false;
  genreSelector13.checked = false;
  genreSelector14.checked = false;
  genreSelector15.checked = false;
  genreSelector16.checked = false;
  genreSelector17.checked = false;
  genreSelector18.checked = false;
}
show.addEventListener('change', function(){
  if(show.checked){
    ratingP.value=show.value
    ratingT.value=show.value
    ratingU.value=show.value
    ratingL.value=show.value
    ratingDrop.selectedIndex = 0
    genreSelector0.checked = false;
    genreSelector1.checked = false;
    genreSelector2.checked = false;
    genreSelector3.checked = false;
    genreSelector4.checked = false;
    genreSelector5.checked = false;
    genreSelector6.checked = false;
    genreSelector7.checked = false;
    genreSelector8.checked = false;
    genreSelector9.checked = false;
    genreSelector10.checked = false;
    genreSelector11.checked = false;
    genreSelector12.checked = false;
    genreSelector13.checked = false;
    genreSelector14.checked = false;
    genreSelector15.checked = false;
    genreSelector16.checked = false;
    genreSelector17.checked = false;
    genreSelector18.checked = false;
    genres3=[]
    genres4=[]
    genres5=[]
    genres6=[]
    genres.value=[]
    genresD.value=[]
    genresP.value=[]
    genresT.value=[]
    genresL.value=[]
    genresU.value=[]
  }
})
// sort by genre starts here for movies
genreSelector0.addEventListener('change', function(){
  if(genreSelector0.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector1.addEventListener('change', function(){
  if(genreSelector1.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector2.addEventListener('change', function(){
  if(genreSelector2.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector3.addEventListener('change', function(){
  if(genreSelector3.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector4.addEventListener('change', function(){
  if(genreSelector4.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector5.addEventListener('change', function(){
  if(genreSelector5.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector6.addEventListener('change', function(){
  if(genreSelector6.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector7.addEventListener('change', function(){
  if(genreSelector7.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector8.addEventListener('change', function(){
  if(genreSelector8.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector9.addEventListener('change', function(){
  if(genreSelector9.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector10.addEventListener('change', function(){
  if(genreSelector10.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector11.addEventListener('change', function(){
  if(genreSelector11.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector12.addEventListener('change', function(){
  if(genreSelector12.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector13.addEventListener('change', function(){
  if(genreSelector13.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector14.addEventListener('change', function(){
  if(genreSelector14.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector15.addEventListener('change', function(){
  if(genreSelector15.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector16.addEventListener('change', function(){
  if(genreSelector16.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector17.addEventListener('change', function(){
  if(genreSelector17.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector18.addEventListener('change', function(){
  if(genreSelector18.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
    show.checked = false;
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
</script>
