
<p>Search by: <span id="option1" class="link">Movie name</span> | <span id="option2" class="link">Actor</span> | <span class="link" id="option3">Genre</span> | <span class="link" id="option4">Director</span></p>
<p>Discover: <span id="option5" class="link">Popular movies</span> | <span class="link" id="option6">Top rated</span> | <span class="link" id="option7">Now playing</span> | <span class="link" id="option8">Upcoming</span></p>


<div id="genreChecks">Sort movies by genre:<p>

Action:  <input type="checkbox" id="genreSelector0" name="feature"
        value="28" placeholder="Adventure" />
Adventure:  <input type="checkbox" id="genreSelector1" name="feature"
        value="12" placeholder="Adventure" />
Animation: <input type="checkbox" id="genreSelector2" name="feature"
        value="16" />
Comedy: <input type="checkbox" id="genreSelector3" name="feature"
        value="35" />
Crime: <input type="checkbox" id="genreSelector4" name="feature"
        value="80" />
Documentary: <input type="checkbox" id="genreSelector5" name="feature"
        value="99" />
Drama: <input type="checkbox" id="genreSelector6" name="feature"
        value="18" />
Family: <input type="checkbox" id="genreSelector7" name="feature"
        value="10751" />
Fantasy: <input type="checkbox" id="genreSelector8" name="feature"
        value="14" />
History: <input type="checkbox" id="genreSelector9" name="feature"
        value="36" />
Horror: <input type="checkbox" id="genreSelector10" name="feature"
        value="27" />
Music: <input type="checkbox" id="genreSelector11" name="feature"
        value="10402" />
Mystery: <input type="checkbox" id="genreSelector12" name="feature"
        value="9648" />
Romance: <input type="checkbox" id="genreSelector13" name="feature"
        value="10749" />
SciFi: <input type="checkbox" id="genreSelector14" name="feature"
        value="878" />
TV Movie: <input type="checkbox" id="genreSelector15" name="feature"
        value="10770" />
Thriller: <input type="checkbox" id="genreSelector16" name="feature"
        value="53" />
War: <input type="checkbox" id="genreSelector17" name="feature"
        value="10752" />
Western: <input type="checkbox" id="genreSelector18" name="feature"
        value="37" />
      </p>
      </div>

      <div id="movieRatings">Sort movies by rating:<p>

        Greater than or equal to: <select id="ratingDrop">
          <option value='0'></option>
          <option value='1'>1</option>
          <option value='2'>2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      </p>


<p>
  <div id="showAll"> Show all?: <input type="checkbox" id="show" name="feature" value="0" />
  </div>
</p>





<div id="searchMovie">


  <%=form_tag(searches_path, method: "get", :id=>"UpdateMovieSearch") do%>
  Search by Movie: <%=text_field_tag(:q)%>

  <%=hidden_field_tag(:genres)%>
  <%= hidden_field_tag :ratingQ %>
  <%=submit_tag("Update Movie Search")%>
  <%end%>


</div>


<div id="searchActor">
  <%=form_tag(searches_path, method: "get") do |f|%>
  Search by Actor: <%=text_field_tag(:r)%>
  <%=submit_tag("Update Actor Search")%>
  <%end%>
</div>
<div id="searchDirector">
  <%=form_tag(searches_path, method: "get") do |f|%>
  Search by Director: <%=text_field_tag(:d)%>
  <%=hidden_field_tag(:genresD)%>
  <%=hidden_field_tag(:ratingD)%>
  <%=submit_tag("Update Director Search")%>
  <%end%>
</div>

<div id="searchPopular">
  <%=form_tag(searches_path, method: "get") do |f|%>
  <%=hidden_field_tag(:genresP)%>
  <%=hidden_field_tag(:ratingP)%>
  <%=submit_tag("Update Popluar Movies")%>
  <%end%>
</div>

<div id="searchTop">
  <%=form_tag(searches_path, method: "get") do |f|%>
  <%=hidden_field_tag(:genresT)%>
  <%=hidden_field_tag(:ratingT)%>
  <%=submit_tag("Update Top Movies")%>
  <%end%>
</div>

<div id="searchLatest">
  <%=form_tag(searches_path, method: "get") do |f|%>
  <%=hidden_field_tag(:genresL)%>
  <%=hidden_field_tag(:ratingL)%>
  <%=submit_tag("Update Latest Movies")%>
  <%end%>
</div>
<div id="searchUpcoming">
  <%=form_tag(searches_path, method: "get") do |f|%>
  <%=hidden_field_tag(:genresU)%>
  <%=hidden_field_tag(:ratingU)%>
  <%=submit_tag("Update Upcoming Movies")%>
  <%end%>
</div>




<div id="genreLinks">

  <%=form_tag(searches_path, method: "get") do%>
  Select genre: <select id="genreDrop">
    <option>No preference</option>
    <option value='28'>Action</option>
    <option value='12'>Adventure</option>
    <option value="16">Animation</option>
    <option value="35">Comedy</option>
    <option value="80">Crime</option>
    <option value="99">Documentary</option>
    <option value="18">Drama</option>
    <option value="10751">Family</option>
    <option value="14">Fantasy</option>
    <option value="36">History</option>
    <option value="27">Horror</option>
    <option value="10402">Music</option>
    <option value="9648">Mystery</option>
    <option value="9648">Romance</option>
    <option value="878">Scifi</option>
    <option value="10770">TV Movie</option>
    <option value="53">Thriller</option>
    <option value="10752">War</option>
    <option value="37">Western</option>
  </select>
  <%= hidden_field_tag :l %>
  <%= hidden_field_tag :rating %>
  <%=submit_tag("Update Search")%>
  <%end%>

</div>


<p><div id="moviesContainer">

  <%if params[:q].present? && params[:genres].present? && params[:ratingQ].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Search.movie(params[:q], page: i+1)%>
  <%solid1=@movies1.results.find_all{|favor| favor.genre_ids.include? params[:genres].to_i }%>
  <%@results1=solid1.find_all{|favor| favor.vote_average >= params[:ratingQ].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:genresP].present? && params[:ratingP].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Movie.popular(page: i+1).results%>
  <%solid1=@movies1.find_all{|favor| favor.genre_ids.include? params[:genresP].to_i }%>
  <%@results1=solid1.find_all{|favor| favor.vote_average >= params[:ratingP].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:genresT].present? && params[:ratingT].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Movie.top_rated(page: i+1).results%>
  <%solid1=@movies1.find_all{|favor| favor.genre_ids.include? params[:genresT].to_i }%>
  <%@results1=solid1.find_all{|favor| favor.vote_average >= params[:ratingT].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:genresU].present? && params[:ratingU].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Movie.upcoming(page: i+1).results%>
  <%solid1=@movies1.find_all{|favor| favor.genre_ids.include? params[:genresU].to_i }%>
  <%@results1=solid1.find_all{|favor| favor.vote_average >= params[:ratingU].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:genresL].present? && params[:ratingL].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Movie.upcoming(page: i+1).results%>
  <%solid1=@movies1.find_all{|favor| favor.genre_ids.include? params[:genresL].to_i }%>
  <%@results1=solid1.find_all{|favor| favor.vote_average >= params[:ratingL].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:q].present? && params[:genres].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Search.movie(params[:q], page: i+1).results%>
  <%@results1=@movies1.find_all{|favor| favor.genre_ids.include? params[:genres].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:q].present? && params[:ratingQ].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Search.movie(params[:q], page: i+1).results%>
  <%@results1=@movies1.find_all { |favor| favor.vote_average >= params[:ratingQ].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:l].present? && params[:rating].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Genre.movies(params[:l], page: i+1).results%>
  <%@results1=@movies1.find_all { |favor| favor.vote_average >= params[:rating].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:d].present?%>
  <% @results.each.with_index do |m, index|%>
  <div class="movie">
    <center><%=index+1%>: <%=m.original_title%></center><br>
    <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
    <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
  </div>
  <%end%>
  <%elsif params[:genresP].present?%>
  <% @results.each.with_index do |m, index|%>
  <div class="movie">
    <center><%=index+1%>: <%=m.original_title%></center><br>
    <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
    <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
  </div>
  <%end%>
  <%elsif params[:ratingP].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Movie.popular(page: i+1).results%>
  <%@results1=@movies1.find_all { |favor| favor.vote_average >= params[:ratingQ].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:ratingU].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Movie.upcoming(page: i+1).results%>
  <%@results1=@movies1.find_all { |favor| favor.vote_average >= params[:ratingU].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:ratingL].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Movie.now_playing(page: i+1).results%>
  <%@results1=@movies1.find_all { |favor| favor.vote_average >= params[:ratingL].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:ratingT].present?%>
  <%for i in (0...20)%>
  <%@movies1=Tmdb::Movie.now_playing(page: i+1).results%>
  <%@results1=@movies1.find_all { |favor| favor.vote_average >= params[:ratingT].to_i }%>
    <% @results1.each.with_index do |m, index|%>
    <div class="movie">
      <center><%=index+1%>: <%=m.original_title%></center><br>
      <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
      <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
    </div>
    <%end%>
    <%end%>
  <%elsif params[:d].present?%>
  <%for i in (0...@pages)%>
  <a href="javascript:addParam('page=<%=i+1%>');">Page <%=i+1%></a>
  <%end%>
  <% @results.each.with_index do |m, index|%>
  <div class="movie">
    <center><%=index+1%>: <%=m.original_title%></center><br>
    <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
    <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
  </div>
  <%end%>
  <%elsif params[:q].present?%>
  <%for i in (0...@pages)%>
  <a href="javascript:addParam('page=<%=i+1%>');">Page <%=i+1%></a>
  <%end%>
  <% @results.each.with_index do |m, index|%>
  <div class="movie">
    <center><%=index+1%>: <%=m.original_title%></center><br>
    <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
    <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
  </div>
  <%end%>
  <%elsif params[:r].present?%>

  <% @results.each.with_index do |m, index|%>
  <div class="movie">
    <center><%=index+1%>: <%=m.name%></center><br>
    <img src="https://image.tmdb.org/t/p/w500/<%=m.profile_path%>"><br>
    <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
  </div>
  <%end%>
  <%for i in (0...50)%>
  <a href="javascript:addParam('page=<%=i+1%>');">Page <%=i+1%></a>
  <%end%>
  <%elsif params[:l].present?%>

  <% @results.each.with_index do |m, index|%>
  <div class="movie">
    <center><%=index+1%>: <%=m.original_title%></center><br>
    <img src="https://image.tmdb.org/t/p/w500/<%=m.poster_path%>"><br>
    <center><button value="<%=m.id%>" id="movieButton">Add to list</button></center>
  </div>
  <%end%>
  <%for i in (0...50)%>
  <a href="javascript:addParam('page=<%=i+1%>');">Page <%=i+1%></a>
  <%end%>

    <%end%>
</div></p>




<!-- checkbox selector perhaps... push to an array ... JOINED by conditional statement-->

<script>
var movieButton=document.getElementById('movieButton')
var movie=document.getElementsByClassName('movie')[0]
var genres1=[]
var genres2=[]
var genres3=[]
var genres4=[]
var genres5=[]
var genres6=[]
var genres= document.getElementById('genres')
var genreDrop= document.getElementById('genreDrop')
var ratingDrop= document.getElementById('ratingDrop')
var option1= document.getElementById('option1')
var option2= document.getElementById('option2')
var option3= document.getElementById('option3')
var option4= document.getElementById('option4')
var option5= document.getElementById('option5')
var option6= document.getElementById('option6')
var option7= document.getElementById('option7')
var option8= document.getElementById('option8')
var option9= document.getElementById('option9')
var searchMovie= document.getElementById('searchMovie')
var UpdateMovieSearch= document.getElementById('UpdateMovieSearch')
var selector=[genreSelector1]


function addParam(v) {
      window.location.search += '&' + v;
  }

// display search options

// search by movie







option1.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  searchMovie.style.display="block"
  genreChecks.style.display="block"
  movieRatings.style.display="block"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  // directorsContainer.style.display="none"
  searchDirector.style.display="none"
  searchPopular.style.display="none"
  moviesContainer.style.display="grid"
  showAll.style.display="none"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
})




// search by actor

option2.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  searchMovie.style.display="none"
  genreChecks.style.display="none"
  searchActor.style.display="block"
  genreLinks.style.display="none"
  movieRatings.style.display="none"
  // directorsContainer.style.display="none"
  searchDirector.style.display="none"
  searchPopular.style.display="none"
  moviesContainer.style.display="grid"
  showAll.style.display="none"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
})
// Search by genre

option3.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  searchMovie.style.display="none"
  genreChecks.style.display="none"
  searchActor.style.display="none"
  genreLinks.style.display="block"
  movieRatings.style.display="block"
  // directorsContainer.style.display="none"
  searchDirector.style.display="none"
  searchPopular.style.display="none"
  moviesContainer.style.display="grid"
  showAll.style.display="none"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
})

// Search by Director

option4.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  searchMovie.style.display="none"
  genreChecks.style.display="block"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  movieRatings.style.display="block"
  searchDirector.style.display="block"
  searchPopular.style.display="none"
  moviesContainer.style.display="grid"
  showAll.style.display="none"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
  // directorsContainer.style.display="none"
})

// Discover popular movies

option5.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  searchMovie.style.display="none"
  genreChecks.style.display="block"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  movieRatings.style.display="block"
  searchPopular.style.display="block"
  searchDirector.style.display="none"
  moviesContainer.style.display="grid"
  showAll.style.display="block"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
  // directorsContainer.style.display="none"
})
// Discover top movies

option6.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  searchMovie.style.display="none"
  genreChecks.style.display="block"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  movieRatings.style.display="block"
  searchPopular.style.display="none"
  searchDirector.style.display="none"
  moviesContainer.style.display="grid"
  showAll.style.display="block"
  searchTop.style.display="block"
  searchLatest.style.display="none"
  searchUpcoming.style.display="none"
  // directorsContainer.style.display="none"
})
// Discover latest movies

option7.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  searchMovie.style.display="none"
  genreChecks.style.display="block"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  movieRatings.style.display="block"
  searchPopular.style.display="none"
  searchDirector.style.display="none"
  moviesContainer.style.display="grid"
  showAll.style.display="block"
  searchTop.style.display="none"
  searchLatest.style.display="block"
  searchUpcoming.style.display="none"
  // directorsContainer.style.display="none"
})
// Discover upcoming movies

option8.addEventListener('click', function(){
  // window.history.replaceState({}, document.title, "/" + "searches");
  clearAll()
  searchMovie.style.display="none"
  genreChecks.style.display="block"
  searchActor.style.display="none"
  genreLinks.style.display="none"
  movieRatings.style.display="block"
  searchPopular.style.display="none"
  searchDirector.style.display="none"
  moviesContainer.style.display="grid"
  showAll.style.display="block"
  searchTop.style.display="none"
  searchLatest.style.display="none"
  searchUpcoming.style.display="block"
  // directorsContainer.style.display="none"
})



// drop down selector for genre and rating

genreDrop.addEventListener('input', function(){
  l.value= genreDrop.value

});

ratingDrop.addEventListener('input', function(){
  rating.value= ratingDrop.value
  ratingQ.value= ratingDrop.value
  ratingD.value= ratingDrop.value
  ratingP.value= ratingDrop.value
  ratingT.value= ratingDrop.value
  ratingL.value= ratingDrop.value
  ratingU.value= ratingDrop.value

});





document.addEventListener('click', function(){
  if(event.target.id=="movieButton"){
  console.log(event.target.value);
}

})

// show all discover movies

function clearAll(){
  ratingP.value=show.value
  ratingT.value=show.value
  ratingU.value=show.value
  ratingL.value=show.value
  genres3=[]
  genres4=[]
  genres5=[]
  genres6=[]
  ratingDrop.selectedIndex = 0
  genreSelector0.checked = false;
  genreSelector1.checked = false;
  genreSelector2.checked = false;
  genreSelector3.checked = false;
  genreSelector4.checked = false;
  genreSelector5.checked = false;
  genreSelector6.checked = false;
  genreSelector7.checked = false;
  genreSelector8.checked = false;
  genreSelector9.checked = false;
  genreSelector10.checked = false;
  genreSelector11.checked = false;
  genreSelector12.checked = false;
  genreSelector13.checked = false;
  genreSelector14.checked = false;
  genreSelector15.checked = false;
  genreSelector16.checked = false;
  genreSelector17.checked = false;
  genreSelector18.checked = false;

}


show.addEventListener('change', function(){
  if(show.checked){
    ratingP.value=show.value
    ratingT.value=show.value
    ratingU.value=show.value
    ratingL.value=show.value
    genres3=[]
    genres4=[]
    genres5=[]
    genres6=[]
    ratingDrop.selectedIndex = 0
    genreSelector0.checked = false;
    genreSelector1.checked = false;
    genreSelector2.checked = false;
    genreSelector3.checked = false;
    genreSelector4.checked = false;
    genreSelector5.checked = false;
    genreSelector6.checked = false;
    genreSelector7.checked = false;
    genreSelector8.checked = false;
    genreSelector9.checked = false;
    genreSelector10.checked = false;
    genreSelector11.checked = false;
    genreSelector12.checked = false;
    genreSelector13.checked = false;
    genreSelector14.checked = false;
    genreSelector15.checked = false;
    genreSelector16.checked = false;
    genreSelector17.checked = false;
    genreSelector18.checked = false;

  }

})





// sort by genre starts here for movies

genreSelector0.addEventListener('change', function(){
  if(genreSelector0.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }

})
genreSelector1.addEventListener('change', function(){
  if(genreSelector1.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})

genreSelector2.addEventListener('change', function(){
  if(genreSelector2.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})

genreSelector3.addEventListener('change', function(){
  if(genreSelector3.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector4.addEventListener('change', function(){
  if(genreSelector4.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector5.addEventListener('change', function(){
  if(genreSelector5.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector6.addEventListener('change', function(){
  if(genreSelector6.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector7.addEventListener('change', function(){
  if(genreSelector7.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector8.addEventListener('change', function(){
  if(genreSelector8.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector9.addEventListener('change', function(){
  if(genreSelector9.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector10.addEventListener('change', function(){
  if(genreSelector10.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector11.addEventListener('change', function(){
  if(genreSelector11.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector12.addEventListener('change', function(){
  if(genreSelector12.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector13.addEventListener('change', function(){
  if(genreSelector13.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector14.addEventListener('change', function(){
  if(genreSelector14.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector15.addEventListener('change', function(){
  if(genreSelector15.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector16.addEventListener('change', function(){
  if(genreSelector16.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector17.addEventListener('change', function(){
  if(genreSelector17.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})
genreSelector18.addEventListener('change', function(){
  if(genreSelector18.checked){
    genres1.push(event.target.value)
    genres2.push(event.target.value)
    genres3.push(event.target.value)
    genres4.push(event.target.value)
    genres5.push(event.target.value)
    genres6.push(event.target.value)
    genres.value=genres1
    genresD.value=genres2
    genresP.value=genres3
    genresT.value=genres4
    genresL.value=genres5
    genresU.value=genres6
  }
    else{
      var a=genres1.indexOf(event.target.value)
      var b=genres2.indexOf(event.target.value)
      var c=genres3.indexOf(event.target.value)
      var d=genres4.indexOf(event.target.value)
      var e=genres5.indexOf(event.target.value)
      var f=genres6.indexOf(event.target.value)
      genres1.splice(a, 1)
      genres.value=genres1
      genres2.splice(b, 1)
      genresD.value=genres2
      genres3.splice(c, 1)
      genresP.value=genres3
      genres4.splice(d, 1)
      genresT.value=genres4
      genres5.splice(e, 1)
      genresL.value=genres5
      genres6.splice(f, 1)
      genresU.value=genres6
    }
})


</script>
